PyOpenGL
PyOpenGL_accelerate
PySide2
PySignal==1.1.1
numpy>=1.14.2
scipy==1.4.1
scikit_learn==0.23.2
pandas>=0.23.3
c3d>=0.3.0
fastdtw==0.3.2
matplotlib>=2.0.2
pygame>=1.9.3
requests>=2.18.4
Pillow>=5.0.0
pytest>=3.4.2
tarjan
kubernetes==10.0.1
boto3==1.9.217
tornado
transformations
bson
pygltflib